@using Cv_webapp.Models
@model Education;
@{
    ViewData["Title"] = "Education";
}

<div class="main-container  d-flex">
    <card class="sub-container mx-auto justify-content-center pt-2" style="background-color:darkgray;">
        <h3 class="text-center">Education</h3>
        <div class="align-items-center p-3" style="font-size:18px">
            <p>I studied <b>Computer Science</b> in the prestigious @Model.Institution</p>
            <p><b>Degree:</b> @Model.Degree</p>
            <span><b>Year attended:</b> @Model.StartYear - @Model.EndYear</span>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-3 text-center mx-auto" style="background-color:black; max-width:120px; padding:6px">
            <a class="btn" asp-controller="Main" asp-action="Experience" style="color:white">Know more</a>
        </div>
    </card>
</div>
